body {
    margin: 0;
}


#Yellow {
    background-color: rgb(252, 186, 3);
    width: 100%;
    height: 10vh;
    z-index: 5;
    position: fixed;
    top: 0;
}

#Green {
    background-color: green;
    width: 100%;
    height: 10vh;
    z-index: 3;
    position: sticky;
    top: 10vh;
}

#Red {
    background-color: darkred;
    width: 70%;
    height: 1000px;
    /* position: static; */

}

#Blue {
    background-color: navy;
    width: 70%;
    height: 1000px;
    /* position: sticky; */

}

#Gray {
    background-color: gray;
    width: 30%;
    height: 2000px;
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 20vh;
}

#Purple {
    background-color: indigo;
    width: 100%;
    height: 10vh;
    z-index: 4;
    position: sticky;
    bottom: 0;
}



